.container {
  @media (min-width: 1200px) {
    width: 90%;
  }
  @media (min-width: 1800px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 90%;
  }
  width: 100%;
  margin: auto;
}

.form-box-title {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.title-form {
  font-weight: 500;
  margin-left: 5px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;

  & h1 {
    font-weight: 500;
    margin-left: 5px;
    font-size: 2rem;
    color: var(--text-title);
    font-family: "Poppins", sans-serif;
  }
}

.box-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: 60vh;
  border-radius: 5px;

  background-color: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.box-row {
  @media (min-width: 768px) {
    display: flex;
  }
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 0;

  & label {
    margin-left: 5px;
  }

  & input {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    border: 1px solid #c3c9d3;
    background-color: var(--white);
  }

  & select {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem;
    border: 1px solid #c3c9d3;
    border-radius: 3px;
    background-color: var(--white);
  }
}

/// LIST header components

.box-header {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  @media (min-width: 500px) {
    min-height: 40rem;
  }
  width: 100%;
}

.box-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  // border-bottom: 2px solid #80808036;
  color: var(--text);
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
  & h1 {
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 500;
  }
}

.MuiFormControlLabel-label {
  font-size: 1.4rem !important;
  font-family: "Poppins";
  color: var(--text-label);
  font-weight: 500;
}

.borda {
  border: 1px solid red;
}
